body {
  font-family: 'Poppins';
}

.all {
  margin-top: 80px;
}

.white {
  background-color: white;
  width: 500px;
  height: 370px;
  padding-left: 100px;
  border-radius: 30px;
}

.logo {
  margin-left: 200px;
  margin-bottom: 25px;
}

.Resettxt {
  font-weight: 600;
  font-size: 22px;
  padding-top: 35px;
  padding-left: 35px;
}

.Resettxt2 {
  font-size: 13px;
  color: rgba(147, 147, 147, 1);
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.Resettxt3 {
  font-size: 13px;
  color: rgba(147, 147, 147, 1);
  padding-top: 0px;
  margin-top: 0px;
  margin-left: -15px;
  padding-bottom: 20px;
}

.email {
  width: 250px;
  height: 40px;
  font-size: 13px;
  border: 1px solid rgba(0, 255, 56, 1);
  color: rgba(147, 147, 147, 1);
  margin-left: 25px;
}

.checkmark {
  height: 15px;
  margin-top: 12px;
  margin-right: 5px;
}

.helptext {
  font-size: 9px;
  color: rgba(0, 255, 56, 1);
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-weight: 500;
}

.txt {
  padding-left: 25px;
  margin-top: -6px;
  padding-top: 0px;
  font-weight: 500;
}

.reset-button {
  background-color: rgba(82, 1, 212, 1);
  color: white;
  width: 250px;
  height: 45px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 500;
  padding-top: 12px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.reset-button:hover {
  background-color: rgba(82, 1, 212, 1);
  color: white;
}

.Return-link {
  font-size: 13px;
  color: rgba(82, 1, 212, 1);
  text-decoration: none;
  font-weight: 400;
  padding-left: 100px;
}

.signuptxt {
  font-size: 13px;
  color: rgba(147, 147, 147, 1);
  margin-left: 150px;
  margin-top: 20px;
}

.signuplink {
  color: rgba(82, 1, 212, 1);
  text-decoration: none;
  font-weight: 400;
}

.signuplink:hover {
  color: rgba(82, 1, 212, 1);
  text-decoration: underline;
}